<% provide(:title, 'All colleges') %>
<h1>All colleges</h1>

<div class="search">
	<%= form_tag schools_path, :method => 'get' do %>
			<%= label_tag("Search for a college:") %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
	<% end %>
</div>

<%= will_paginate @colleges %>

<ul class="colleges">
  <%= render @colleges %>
</ul>

<%= will_paginate @colleges %>
